.after_card:after {
  content: "|";
  height: 100px;
  width: 2px;
  background-color: black;
  position: absolute;
  right: -125px;
  top: 1px;
  overflow: hidden;
}
.d-inline {
  display: inline;
}
@media only screen and (max-width: 600px) {
  .after_card:after {
    content: "";
    display: none;
  }
}
