input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.1em;
  border: none;
  /* border-radius: 3px; */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #f5a34c;
  margin-top: -8px;
}

input[type="range"]:focus {
  outline: none;
}
